    <p style="align:center";><u>PROJECT API DOCUMENTION</u></p>
    <h3>PROJECT NAME : {{name}}</h3>
    {{#each result}}
    <div>
        <h3>SERVICE NAME:{{this.serviceName}}</h3>
    </div>
    <h5>{{this.serviceName}} Having Following API's:</h5>
    <div>
        <h5>URL:/{{this.url}}</h5>
    </div>
    <div>
        <h5>API TYPE:{{this.apiType}} </h5>
    </div>
    <div>
        <h5>Header Parameter:</h5>
    </div>
    <table style="border: 1px solid black; border-collapse: collapse;width: 60%;">
        <tr>
            <th style=" text-align: left;background-color:grey;color:white;">key</th>
            <th style=" text-align: left;background-color:grey;color:white;">value</th>
        </tr>
        <tbody>
            {{#each headerParameter}}
            <tr>
                <td style=" border: 1px solid black;"> {{key}}</td>
                <td style=" border: 1px solid black;"> {{value}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
    <div>
        <h5>Body Parameter:</h5>
    </div>
    <table style="border: 1px solid black; border-collapse: collapse;width: 60%;">
        <tr>
            <th style=" text-align: left;background-color:grey;color:white;">Type</th>
            <th style=" text-align: left;background-color:grey;color:white;">Field</th>
            <th style=" text-align: left;background-color:grey;color:white;">description</th>
        </tr>
        <tbody>
            {{#each params}}
            <tr>
                <td style=" border: 1px solid black;"> {{type}}</td>
                <td style=" border: 1px solid black;"> {{field}}</td>
                <td style=" border: 1px solid black;"> {{description}}</td>
            </tr>
            {{/each}}
        </tbody>

    </table>
    <div>
        <h5>Example Usage:</h5>
        <pre>
     <code>
         {{this.exampleUsage}}
      </code>
     </pre>
    </div>

    <div>
        <h5>success Response:</h5>
        <pre>
     <code>
         {{this.successResponse}}
      </code>
     </pre>
    </div>

    <div>
        <h5>Error Response:</h5>
        <pre>
     <code>
         {{this.errorResponse}}
      </code>
     </pre>
    </div>
    <hr> {{/each}}
    {{!--<button type="" onclick="gethtml()">Download HTML</button>--}}



<!--<script>
    function gethtml() {
        var dat = document.getElementsByTagName('body')[0].innerHTML;
        // data = JSON.stringify(dat);
        console.log(dat);
        var data = JSON.stringify({
            data: dat
        });
        console.log(data)
        const url = "http://localhost:5000/htmltopdf";
        fetch(url, {
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: data
        }).then(
            response => response.text("done sucesss")
        ).then(
            html => console.log(html)
        );

    }
</script>-->